

body {
    background-color: rgba(32, 178, 171, 0.212);
};
.searchBar {
    display: inline-block;
}
.fiveDay {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
background-color: lightskyblue;
text-align: center;
}