

body {
    background-color: rgba(32, 178, 171, 0.212);
};
.searchBar {
    display: inline-block;
}
.fiveDay {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
background-color: rgba(135, 206, 250, 0.60);
text-align: center;
border-radius: 1rem;
border-style: none;
}